* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}
.banner-home {
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    /* evita rolagem horizontal */
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Escurecimento */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px 40px;
    box-sizing: border-box;
    position: relative;
}

.conteudo-banner h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    max-width: 700px;
}

.botao-criar-conta {
    background-color: #26D07C;
    color: #020202;
    font-size: 16px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
    margin-bottom: 30px;
}

.botao-criar-conta:hover {
    background-color: #1fb56b;
}

.lojas-banner {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.lojas-banner img {
    width: auto;
    max-width: 150px;
}

@media (max-width: 768px) {
    .banner-home {
        height: auto !important;
        min-height: 400px !important;
    }

    .overlay {
        padding: 40px 20px 100px 20px;
        /* padding inferior maior */
        justify-content: center !important;
    }

    .conteudo-banner h1 {
        font-size: 1.5em;
        max-width: 100%;
        text-align: left !important;
    }

    .botao-criar-conta {
        font-size: 14px;
        padding: 10px 20px;
        margin: 20px auto;
        display: block;
    }

    .lojas-banner {
        position: static ;
        margin: 20px auto 0 auto !important;
        display: flex !important;
        justify-content: center !important;
        z-index: 1 !important;
    }

    .lojas-banner img {
        max-width: 120px !important;
        width: 100% !important;
    }
}